# dependencies
node_modules/
/.pnp
.pnp.*

# next.js
/.next/
/out/

# environment variables
.env*
!.env.example
env.download
env.supabase

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts